/* Asigură ca aplicația ocupă tot ecranul */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Elimină limitarea de lățime impusă implicit */
#root {
  max-width: none;
  text-align: initial;
}
